# System Bloat
.DS_Store
Thumbs.db
^Thumbs\.db
^ehthumbs\.db
Desktop.ini
^Desktop\.ini
.AppleDouble
.LSOverride
Icon
.Trashes
__MACOSX
~$

# Project Bloat
lib/
lib.es6/
.idea
test.babel
.npm-packages
node_modules
dist
coverage
.nyc_output

# Logs
*.log

# Optional npm cache directory
.npm
*.map

